  
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap%27');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .textbox{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 10%;
    left: 22%
  }
  .banana{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 20%;
    left: 60%
  }
  .monkey{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 20%;
    left: 0%
  }
  
  .angel{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 28%;
    left: 46%
  }
  
  body{
    background-color: #FAF3F0;
    margin: 0px;
  }
  .categoryBox{
    margin-bottom: 20px;
    text-align: center;
  }

  .categoryCount{
    margin-bottom: 20px;
    text-align: left;
    margin-top: 40px;
    margin-left: 5%
  }
  
  .categoryNames{
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #263A29;
  }

  h1{
    text-align: center;
    color: #263A29;
    margin-bottom: 4%;
  }

  h4{
    color: #263A29;
    font-size: .9rem;
    margin-bottom: 15px;
  }

  ol{
    text-align: center;
  }

  .qbutton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #FAF3F0;
    background-color: #82A284;
    border: none;
    border-radius: 15px;
    /* box-shadow: 0 9px #999; */
    margin-top: 10px;
    margin-bottom: 20px;
    width: 350px;
    height: 75px;
  }
  
  .qbutton:hover {background-color: #446A46}
  
  .qbutton:active {
    background-color: #446A46;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }
  
  .container {
    display: flex;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
  }

  .circle{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 39.5%;
    left: 44.3%;
  }

  #bottom-right {
    width: 650px;
    height: 300px;
    background: #D4E2D4;
    -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 120px, black 121px);
    mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 120px, black 121px);
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 58.5%;
    left: 52%;
    border-radius: 25px;
  }

  #top-right {
    width: 650px;
    height: 300px;
    background: #D4E2D4;
    -webkit-mask-image: radial-gradient(circle 10px at 0 100%, transparent 0, transparent 120px, black 121px);
    mask-image: radial-gradient(circle 10px at 0 100%, transparent 0, transparent 120px, black 121px);
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 52%;
    border-radius: 25px;
  }

  #top-left {
    width: 650px;
    height: 300px;
    background: #D4E2D4;
    -webkit-mask-image: radial-gradient(circle 10px at 100% 100%, transparent 0, transparent 120px, black 121px);
    mask-image: radial-gradient(circle 10px at 100% 100%, transparent 0, transparent 120px, black 121px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 2.5%;
    border-radius: 25px;
  }

  #bottom-left {
    width: 650px;
    height: 300px;
    background: #D4E2D4;
    -webkit-mask-image: radial-gradient(circle 10px at 100% 0, transparent 0, transparent 120px, black 121px);
    mask-image: radial-gradient(circle 10px at 100% 0, transparent 0, transparent 120px, black 121px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 58.5%;
    left: 2.5%;
    border-radius: 25px;
    box-shadow: 10px 5px #446A46;
  }


  .results-button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: serif;
  }
  
  .results-button:active {
    transform: translateY(5px);
  }



  .coverButton{
    position: absolute;
    top: 30%;
    left: 40%;
  }

  .Cover{
    text-align: center;
    margin-top: 5%;
  }

  /*Inverted edge maybe code*/

  /* .inverted-rectangle {
    width: 300px;
    height: 150px;
    background-color: #D4E2D4;
    position: relative;
    border-radius: 10px;
  }
   */
  /* .inverted-rectangle::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #D4E2D4;
    transform: skewY(-10deg);
    z-index: -1;
  } */

  .clickImprove{
    position: absolute;
    font-size: small;
    bottom: 10%;
    left: 36%;
  }


.quizTitle{
    text-align: center;
    color: #263A29;
    margin-bottom: 4%;
    margin-top: 75px
}

.Login{
   display:flex;
   justify-content: center;
   align-items: center;
}

.logo{
    width: 110px;
    height: 110px;
    position: absolute;
    left: 1%;
    top: 1%;
    border: none;
  }

.svg{

    position: absolute;
    left: 9%;
    top: 2.75%;
}

.trigger{
  position:absolute;
  right: 5%;
}




/* POP UP STUFF BELOW*/
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 93%;
  margin: 0 auto;
  height: auto;
  max-height: 89vh;
  margin-top: 3%;
  background: #FAF3F0;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  border-radius: 25px;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: 5%;
  top: 8%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-size: 22px;
}
.close-icon:hover{
  color: gray;
}

.house1{
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #D4E2D4;
  border-radius: 25px;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

.description{
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 10px;
  margin-bottom: 10px;
}

.houseTitle1{
    color: #263A29;
    text-align: center;
    margin-bottom: 10px;
}

/*Login and SignUp */ 
.account-create-login-form {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;

}

.account-create-login-form .account-create-login-header {
  color: #1c8adb; 
  margin-bottom: 30px; 
}

.input-box {
  border-radius: 30px; 
  padding: 10px;
  margin: 10px 0; 
  width: 100%; 
  border: 1px solid #999;
  outline: none; 
}
.account-create-login-submit{
  color: #fff; 
  width: 100%;
  padding: 10px;
  border-radius: 20px; 
  font-size:15px; 
  margin: 10px 0; 
  border: none; 
  outline: none; 
  cursor: pointer; 
  background-color: #1c8adb;
}

a{
  text-decoration: none;
}

.or{
  width: 30px; 
  margin: -13px auto 10px;
  margin-top: 10px;
  position: relative; 
}

.or::before {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #000; 
  position: absolute; 
  left: 30px;
  top:  50%
}
.or::after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #000; 
  position: absolute;
  right: 30px; 
  top:  50%;
}


.quizT{
  margin-top: 10%;
  padding-right: 5%;
  padding-left: 5%;
  font-family: 'Courier New', monospace;
  font-weight: 8000;
  font-size: 3rem;
  text-align: center;
  color: #263A29;
}
.quizDescription{
  margin-top: 10px;
  padding-right: 10%;
  padding-left: 10%;
  color: #263A29;
  font-family: 'Courier New', monospace;
  font-weight: 1050;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 30px;
}
