  .textbox{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 10%;
    left: 22%
  }
  .banana{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 20%;
    left: 60%
  }
  .monkey{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 20%;
    left: 0%
  }
  
  .angel{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 28%;
    left: 46%
  }
  
  body{
    background-color: #FAF3F0;
    margin: 0px;
  }
  .categoryBox{
    margin-bottom: 20px;
    text-align: center;
  }

  .categoryCount{
    margin-bottom: 20px;
    text-align: left;
    margin-top: 40px;
    margin-left: 5%
  }
  
  .categoryNames{
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #263A29;
  }

  h1{
    text-align: center;
    color: #263A29;
    margin-bottom: 4%;
  }

  h4{
    color: #263A29;
    font-size: .9rem;
    margin-bottom: 15px;
  }

  ol{
    text-align: center;
  }

  .button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #FAF3F0;
    background-color: #82A284;
    border: none;
    border-radius: 15px;
    /* box-shadow: 0 9px #999; */
    margin-top: 10px;
    margin-bottom: 20px;
    width: 350px;
    height: 75px;
  }
  
  .button:hover {background-color: #446A46}
  
  .button:active {
    background-color: #446A46;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }
  
  .container {
    display: flex;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
  }

  .circle{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 40%;
    left: 44%;
  }

  #bottom-right {
    width: 650px;
    height: 300px;
    background: #D4E2D4;
    -webkit-mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 120px, black 121px);
    mask-image: radial-gradient(circle 10px at 0 0, transparent 0, transparent 120px, black 121px);
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 58.5%;
    left: 52%;
    border-radius: 25px;
  }

  #top-right {
    width: 650px;
    height: 300px;
    background: #D4E2D4;
    -webkit-mask-image: radial-gradient(circle 10px at 0 100%, transparent 0, transparent 120px, black 121px);
    mask-image: radial-gradient(circle 10px at 0 100%, transparent 0, transparent 120px, black 121px);
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 52%;
    border-radius: 25px;
  }

  #top-left {
    width: 650px;
    height: 300px;
    background: #D4E2D4;
    -webkit-mask-image: radial-gradient(circle 10px at 100% 100%, transparent 0, transparent 120px, black 121px);
    mask-image: radial-gradient(circle 10px at 100% 100%, transparent 0, transparent 120px, black 121px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 2.5%;
    border-radius: 25px;
  }

  #bottom-left {
    width: 650px;
    height: 300px;
    background: #D4E2D4;
    -webkit-mask-image: radial-gradient(circle 10px at 100% 0, transparent 0, transparent 120px, black 121px);
    mask-image: radial-gradient(circle 10px at 100% 0, transparent 0, transparent 120px, black 121px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 58.5%;
    left: 2.5%;
    border-radius: 25px;
    box-shadow: 10px 5px #446A46;
  }


  .results-button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: serif;
  }
  
  .results-button:active {
    transform: translateY(5px);
  }

  .logo{
    width: 110px;
    height: 110px;
    position: absolute;
    left: 1%;
    top: 1%;
    border: none;
  }

  .coverButton{
    position: absolute;
    top: 30%;
    left: 40%;
  }


  /*Inverted edge maybe code*/

  /* .inverted-rectangle {
    width: 300px;
    height: 150px;
    background-color: #D4E2D4;
    position: relative;
    border-radius: 10px;
  }
   */
  /* .inverted-rectangle::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #D4E2D4;
    transform: skewY(-10deg);
    z-index: -1;
  } */

  .clickImprove{
    position: absolute;
    font-size: small;
    bottom: 10%;
    left: 36%;
  }


.quizTitle{
    text-align: center;
    color: #263A29;
    margin-bottom: 4%;
    margin-top: 75px
}